.popover-interfaceEmbed,
.all_space-interfaceEmbed,
.left_slider-interfaceEmbed,
.right_slider-interfaceEmbed,
.popup-interfaceEmbed {
    height: 60px;
    width: 120px;
    position: fixed;
    /* background-color: #3d7bef !important; */
    text-align: center;
    align-content: center;
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
    cursor: pointer;
    z-index: 999999999 !important;
}

/* popover */
.popover-parent-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: none;
    box-sizing: border-box;
    background-color: #fff;
}

.popover-interfaceEmbed {
    bottom: -3px;
    right: 45%;
    margin: auto;
}

/* all space */
.all_space-parent-container {
    background-color: #fff;
    z-index: 9999;
    display: none;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.all_space-interfaceEmbed {
    margin: auto;
}

/* popup */
.popup-parent-container {
    position: fixed;
    bottom: 0%;
    right: 0%;
    background-color: #fff;
    z-index: 9999;
    display: none;
    box-sizing: border-box;
}

.popup-interfaceEmbed {
    bottom: 1%;
    right: 10px;
}


#popup-interfaceEmbed {
    background-color: none !important;
    position: fixed;
    bottom: 1%;
    right: 10px;
    object-fit: contain;
    height: 60px !important;
    width: 60px !important;
    padding: 5px !important;
    cursor: pointer;
    z-index: 999999999 !important;
}

#interfaceEmbed {
    /* background-color: transparent; */
    object-fit: contain;
    cursor: pointer;
    z-index: 999999999 !important;
}

/* left slider */
.left_slider-parent-container {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translate(0%, -50%);
    background-color: #ffffff;
    z-index: 9999;
    display: none;
    box-sizing: border-box;
}

.left_slider-interfaceEmbed {
    bottom: 50%;
    left: -30px;
    transform: rotate(90deg);
}

/* right slider */
.right_slider-parent-container {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
    background-color: #ffffff;
    z-index: 9999;
    display: none;
    box-sizing: border-box;
}

.right_slider-interfaceEmbed {
    bottom: 50%;
    right: -30px;
    transform: rotate(270deg);
}

#iframe-component-interfaceEmbed {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.chatbot-icon-interfaceEmbed {
    width: 60px !important;
    height: 60px !important;
    cursor: pointer;
    object-fit: contain;
}

#close-button-interfaceEmbed,
.close-button-interfaceEmbed {
    position: absolute;
    top: 8px !important;
    right: 8px !important;
    border: none !important;
    background-color: transparent !important;
}

.full-screen-interfaceEmbed {
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
}